<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>proto - cosmos</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

a {
  color: black;
}

h2 {
  color: white;
  border: none;
  padding: 50px;
  margin: 10px;
}

a {
  color: pink;
}

img {
  padding: 20px;
  margin: 10px;
}

body {
   background-color: black;
   text-align: center;
 }

@media(max-width:920px){
  body {
    margin: 10px;
    width: 100%;
    height: 100%;
   }
  h2 {
    font-size: 32px;
  }
  img {
    padding: 10px;
    margin: 10px
    width: 80%;
  }
  a {
    font-size:32px;
  }

</style>
</head>

</html>
